
/* custom css rules */

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to bottom right, #f6c778, #de4aa3);
  color: #3f3b69;
}

h1, h2, h3 {
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 75px;
}

h1 span {
    color: #3f3b69;
}

h3 {
    font-size: 50px;
    margin: 10px;
}

/* .section-head {
  width: 80%;
  padding: 5px;
  margin: 0 auto;
  background: #3F3B69;
  border: 0px;
  border-radius: 8px;
} */

#bubble-info {
  font-size: 15px;
  padding: 20px;
  width: 100%;
}

#team-name {
  position: absolute;
  right: 40px;
  bottom: 40px;
  font-size: 30px;
}

.note {
  position: absolute;
}

#top-note {
  width: 80px;
  left: 70%;
  top: 20%;
}

#bottom-note {
  width: 100px;
  left: 30%;
  top: 61%;
}

img {
    width: 100%;
}

.container .container-fluid{
    margin-top: 40px;
    margin-bottom: 40px;
}

.info {
    margin: 0 auto;
    width: 85%;
    padding: 20px;
}

#our-data {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}
#our-data p {
  font-size: 16px;
}

.spotify-logo {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 130px;
    width: auto;
}

#spotify-users-graph {
    height: 510px;
    width: auto;
}

.sources, .data-summary {
    font-size: 12px;
    text-align: center;
}

p {
  text-align: justify;
  font-size: 20px;
}

a {
  color: #C73866;
  font-weight: bold;
}

a:hover {
  color: #9F2D52;
}

/*****

MAX'S STYLES

*****/

.fa-info-circle {
    padding-left: 15px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    padding-bottom: 15px;
    display: flex;
    padding-left: 100px;
    padding-top: 5px;
}

.slider-label {
    padding-right: 20px;
}

output {
    padding-left: 20px;
    position: absolute;
    margin-left: 360px;
}

.slider {
    position: absolute;
    margin-left: 120px;
	-webkit-appearance: none;
	width: 250px;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.9;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #3f3b69;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #3f3b69;
	cursor: pointer;
}

#selectedCountryName {
    text-align: center;
}

#top-3-songs {
    text-align: center;
    font-size: 16px;
}

#top-3-songs ol {
    display: table;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}

.footer {
    text-align: center;
}

#intro-map {
    margin: 0 auto;
    display: block;
}

.fp-scroller {
    overflow:hidden;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: rgb(255,255,255);
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    box-sizing: border-box;
    background-color: white;
}

#match-button {
    background-color: #C73866;
    border: none;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    outline: 0;
    margin-left: 100px;
}

#match-button:hover {
  background-color: #9F2D52;
}

.i-tip {
    position: absolute;
    display: inline;
    font-size: 10px;
    padding: 8px;
    background-color: #d3d3d3;
    border-radius: 5%;
    width: 150px;
}

/*****

JUSTIN'S STYLES

*****/

div.tooltip, .d3-tip, #details {
    position: absolute;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
    color: #3F3B69;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#details {
  background: #3f3b69;
  color: white;
}

/*****

KATE'S STYLES

*****/
.comparison-top-text {
    display: inline-block;
    text-align: center;
    margin: 50px auto 30px;
}

.comparison-dropdown {
    margin-left: 70px;
}

.comparison-country-labels .country-label-right {
    font-weight: bold;
}

/* this helped: https://stackoverflow.com/questions/5288336/put-text-at-bottom-of-div */
#comparison-country-label-left {
    position: relative;
}

#comparison-country-label-left span {
    position: absolute;
    bottom: 0;
    right: 0;
    text-anchor: end;
    margin-right: 70px;
    font-weight: bold;
}

path:hover {
    stroke: #C73866;
    stroke-width: 2px;
}

#reggaeton-bar-graph {
    fill: #3f3b69;
}

/*****

CAITLYN'S STYLES

*****/
.choropleth-dropdown {
    background-color: #3f3b69;
    color: white;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

.dropdown-wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    vertical-align: middle;
}

.info {
    font-size: 15px;
}

#attribute-text {
    font-size: 14px;
}

.legend {
    font-size: 12px;
}

#countries-list {
  background-color: #3f3b69;
  color: white;
  border: none;
}
