/* custom css rules */

/* Color Schemes

 https://color.adobe.com/Copy-of-Copy-of-Core-color-theme-11564388/edit/?copy=true&base=2&rule=Custom&selected=2&name=Copy%20of%20Copy%20of%20Copy%20of%20Core&mode=rgb&rgbvalues=0.06666666666666667,0.1843137254901961,0.2549019607843137,0.023529411764705882,0.5215686274509804,0.5294117647058824,0.30980392156862746,0.7254901960784313,0.6235294117647059,0.9490196078431372,0.6941176470588235,0.20392156862745098,0.9294117647058824,0.3333333333333333,0.23137254901960785&swatchOrder=0,1,2,3,4

 https://color.adobe.com/paleta-2-color-theme-11596088/edit/?copy=true&base=2&rule=Custom&selected=2&name=Copy%20of%20paleta%202&mode=cmyk&rgbvalues=0.16900000000000004,0.2288,0.26,0.248,0.344,0.4,0.7395,0.8265,0.87,0.94,0.94,0.8742,1,0.56,0&swatchOrder=0,1,2,3,4

 */



body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to bottom right, #f6c778, #de4aa3);
  color: #3f3b69;
}

h1, h2, h3 {
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 75px;
}

h1 span {
    color: #3f3b69;
}

h3 {
    font-size: 50px;
    margin: 10px;
}

#team-name {
  position: absolute;
  right: 40px;
  bottom: 40px;
  font-size: 30px;
}

.note {
  position: absolute;
}

#top-note {
  width: 80px;
  left: 70%;
  top: 20%;
}

#bottom-note {
  width: 100px;
  left: 30%;
  top: 61%;
}

img {
    width: 100%;
}

.container .container-fluid{
    margin-top: 40px;
    margin-bottom: 40px;
}

.info {
    margin: 0 auto;
    width: 75%;
    padding: 20px;
}

#our-data {
  margin: 0 auto;
  width: 85%;
  padding: 20px;
}
#our-data p {
  font-size: 18px;
}

p {
  text-align: justify;
  font-size: 20px;
}

a {
  color: #ED553B;
  font-weight: bold;
}

a:hover {
  color: #B9372E;
}

/*****

MAX'S STYLES

*****/

.col-centered {
    float: none;
    margin: 0 auto;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    padding-bottom: 15px;
    display: flex;
}

.slider-label {
    padding-right: 20px;
}

output {
    padding-left: 20px;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #65d6c9;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #65d6c9;
	cursor: pointer;
}

#selectedCountryName {
    text-align: center;
}

#top-3-songs {
    text-align: center;
}

#top-3-songs ol {
    display: table;
    margin: 0 auto;
    text-align: left;
}

.footer {
    text-align: center;
}

#intro-map {
    margin: 0 auto;
    display: block;
}

.fp-scroller {
    overflow:hidden;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: rgb(255,255,255);
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    box-sizing: border-box;
    background-color: white;
}

#match-button {
  background-color: #C73866;
  border: none;
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  outline: 0;
}

#match-button:hover {
  background-color: #9F2D52;
}

/*.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.l-left {
    float: left;
}

.l-right {
    float: right;
}

.end {
    margin-top: 30px;
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    -webkit-transform: translateY(300px);
    -ms-transform: translateY(300px);
    transform: translateY(300px);
    -webkit-transition: opacity, -webkit-transform 1s;
    transition: opacity, transform 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}*/

/*****

JUSTIN'S STYLES

*****/

div.tooltip {
    position: absolute;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
    color: white;
    background: #4FB99F;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/*****

KATE'S STYLES

*****/
.comparison-top-text {
    display: inline-block;
    text-align: center;
    margin: 50px auto 30px;
}

.comparison-dropdown {
    margin-left: 70px;
}

.comparison-country-labels .country-label-right {
    font-weight: bold;
}

/* this helped: https://stackoverflow.com/questions/5288336/put-text-at-bottom-of-div */
#comparison-country-label-left {
    position: relative;
}

#comparison-country-label-left span {
    position: absolute;
    bottom: 0;
    right: 0;
    text-anchor: end;
    margin-right: 70px;
    font-weight: bold;
}

path:hover {
    stroke: #C73866;
    stroke-width: 2px;
}

#reggaeton-bar-graph {
    fill: #3f3b69;
}

/*****

CAITLYN'S STYLES

*****/
.choropleth-dropdown {
    background-color: #ED553B;
    color: white;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

.dropdown-wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    /*vertical-align: middle;*/
}

.info {
    font-size: 15px;
}
